@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-primary {
  background-color: #99cc33;
}

.bg-secondary {
  background-color: #e9e9e9;
}

.hover\:bg-secondary:hover {
  background-color: #e9e9e9;
}

.t--30 {
  top: -30px;
}

.w-476 {
  width: 476px;
}

.w-520 {
  width: 520px;
}
