@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hover\:bg-secondary:hover {
  background-color: #e9e9e9;
}

.t--40 {
  top: -40px;
}

.w-720 {
  width: 720px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #FFF inset;
  -webkit-text-fill-color: #000;
}